$font-stack: Helvetica, sans-serif
$primary-color: #333

body
  font: 100% $font-stack
  color: $primary-color

input
    border-style: solid
    border-width: 1px
    border-color: rgb(133, 133, 133)
    border-radius: 5px
    padding: 13px
    margin: 10px
    width: 400px

.field
  width: 90%


.loginButton 
  background-color: rgb(19, 124, 204)
  color: white
  margin: 10px
  font-size: 10px
  padding: 0px 14px 0px 14px
  margin-bottom: 5px