<!-- LOGIN -->
<div style="width: 100%;height: 100%;" fxLayout="row" fxLayoutAlign="center center">
    <div style="width: 30%;height: 30%;">
        <mat-card style="padding:0;padding-bottom: 10px; box-shadow: 0px 0px  2px #6f6f6f;">
            <mat-card-title style="text-align: center;background-color: rgb(234, 234, 234);">
                <h3 style="padding: 5px;">Sign in to your dashboard</h3>
            </mat-card-title>
            <!-- <mat-spinner></mat-spinner> -->
            <input type="username" [(ngModel)]="username" placeholder="Username" class="field">
            <!-- Error for Username  -->
            <mat-error *ngIf="UsernameError">
                <div *ngFor="let errorText of UsernameError">
                    <span style="font-size: 12px;margin: 10px"> {{ errorText }}</span>
                </div>
            </mat-error>
            <input type="password" [(ngModel)]="password" placeholder="Password" class="field">
            <!-- Error for Username  -->
            <mat-error *ngIf="passwordError">
                <div *ngFor="let errorText of passwordError">
                    <span style="font-size: 12px;margin: 10px"> {{ errorText }}</span>
                </div>
            </mat-error>
            <button mat-button class="loginButton" (click)="login()">{{ isLoading ? 'SIGNING' : 'SIGN IN'}}</button>
        </mat-card>
    </div>
</div>