.example-spacer 
  flex: 1 1 auto

.card
    box-shadow: 0px 0px 2px #6f6f6f
    margin: 30px

table
    font-family: arial, sans-serif
    border-collapse: collapse
    width: 100%
    // margin-right: 20px
    // margin-left: 20px 


td, th
    border: 1px solid #cecece
    text-align: center  
    padding: 15px

th
    background-color: #e4e4e4

.tableData
    width: 12%

.username
    text-align: left  



