<div>
    <mat-toolbar style="background-color: rgb(29, 29, 29);color: rgb(109, 109, 109); padding: 40px;">
        <span style="font-size: 20px;">Dashboard</span>
        <span class="example-spacer"></span>
        <button mat-button (click)="signout()">
            <mat-icon style="margin-right: 4px;">logout</mat-icon>
            <span style="font-size: 16px;">Sign Out</span>
        </button>
    </mat-toolbar>

    <div *ngIf="isLoading">
        <mat-spinner></mat-spinner>
    </div>

    <div fxLayout="column" style="padding: 30px" *ngIf="!isLoading">
        <div style="margin-bottom: 10px;">
            <span style="font-size: 24px;">Overview</span>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between">
            <!-- donut chart -->
            <div>
                <mat-card style="width: 600%;padding: 0px;">
                    <mat-card-title
                        style="background-color: rgb(209, 209, 209);padding: 15px;font-size: 16px;border-top-left-radius: 5px;border-top-right-radius: 5px;">
                        Donut Chart</mat-card-title>
                    <div style="width: 100%;">
                        <figure id="donut"></figure>
                    </div>
                </mat-card>
            </div>

            <!-- Bar chart -->
            <div>
                <mat-card style=" padding: 0px;">
                    <mat-card-title
                        style="background-color: rgb(209, 209, 209);padding: 15px;font-size: 16px;border-top-left-radius: 5px;border-top-right-radius: 5px;">
                        Bar Graph</mat-card-title>
                    <div fxLayout="column" fxLayoutAlign="center">
                        <figure id="bar"></figure>
                    </div>
                </mat-card>
            </div>
        </div>

        <!-- table -->
        <div style="margin-top: 20px;">
            <h1>User List</h1>
        </div>
        <div fxLayout="row" fxLayoutAlign="center">
            <table>
                <tr>
                    <th class="tableData">#</th>
                    <th class="tableData">First Name</th>
                    <th class="tableData">Last Name</th>
                    <th class="username">User Name</th>
                </tr>
                <tr *ngFor="let user of tableUser, let i = index">
                    <td class="tableData">{{i + 1}}</td>
                    <td class="tableData">{{user.firstName}}</td>
                    <td class="tableData">{{user.lastName}}</td>
                    <td class="username">{{user.username}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>